div.modal {
	position: fixed;
	margin-top: -60px;
	margin-left: 2%;
	width: 96%;
	height: 96%;
	background-color: white;
	border: 2px black solid;
	overflow: auto;
	z-index: 10;
	overflow-x: hidden;
}

div.modal div.heading {
	height: 20px;
	width: 100%;
	border: #aaa 1px solid;
	padding: 5px;
	display: table;
	vertical-align: middle;
}

span.title {
	font-size: 0.8em;
	color: black;
	margin-left: 10px;
}

div.modal div.body {
	position: relative;
}
