div.modal div.container {
	display: inline-block;
	padding: 5px;
}

div.modal #create_metadata {
	padding: 10px;
}

div.modal #create_buttons {
	padding: 25px;
}

input.bad-input {
	background-color: #f39c12;
	color: black;
}
